body{
    background-color: white;
  }
  
.navigationList {
    margin: 0;
    padding: 25px;
    display: flex;
    list-style-type: none;
    
}
.navigationListItem {
    padding: 10px;
    font-size: 20px;
    color: white;
    overflow: hidden;
}
/* .navigationList {

} */