@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #131313;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container{
    display:flex;
}
header{
    display:flex;
    justify-content: center;
}

nav{
    display:flex;
    position:fixed;
}
.content{

}

footer{

}
.title{
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    letter-spacing: 1.8px;
    word-spacing: 4.4px;
    color: #BABABA;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    }

.navbar{
    position:fixed;
    height: 35%;
    display: flex;
    order:3;
}
li{
    display:block;
}
li:hover{
    cursor: pointer;
}


.navbar{
    display:flex;
    width:5%;

}
.nav-item{
    display: flex;
    flex-direction: column;}
